*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NeueHaasGrotesk-55Roman";
  src: url("../fonts/NeueHaasGroteskText-55Roman-Web.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NeueHaasGroteskText-65Regular";
  src: url("../fonts/regular.woff2");
}
.page-content {
  --main-color: #121212;
  --text-color: #eeeeee;
  --nav-links-color: #9b9b9b;
  --header-font: "NeueHaasGrotesk-55Roman";
  --text-font: "NeueHaasGroteskText-65Regular";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/****************************************** NAVIGATION ************************************/
/* top nav */
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--main-color);
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
}
#logo {
  width: 48px;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 27px;
  right: 18px;
  padding: 1px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--text-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  width: 15px;
}
.navbar-toggler span:nth-child(2) {
  width: 37px;
  margin: 5px 0;
}
.navbar-toggler span:nth-child(3) {
  float: right;
}
.navbar-toggler:hover span:nth-child(1),
.navbar-toggler:hover span:nth-child(3) {
  width: 35px;
}
#mainNav a {
  font-family: var(--text-font);
  color: var(--nav-links-color);
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: normal;
  transition: all 0.4s ease-in-out;
}
#mainNav a:hover {
  color: #ff5924;
  transition: all 0.4s ease-in-out;
}
#mainNav .nav-item span {
  color: #707070;
  font-size: 1.7em;
}
#logout_txt {
  color: var(--text-color) !important;
}
#mainNav #sign_up {
  background-color: #eaefde;
  color: var(--main-color);
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  font-family: var(--text-font);
  letter-spacing: 1px;
  font-size: 1.9vh;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#mainNav #sign_up:hover {
  background: #d3ffc3;
  transform: scale(1.05);
}

/****************************************** Hero ************************************/
#hero {
  margin-top: 30%;
}
.hero-intro {
  margin: 3%;
}
.hero-intro h1 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 5%;
  line-height: 1.1;
}
.hero-intro p {
  color: #9b9b9b;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 3%;
}

/****************************************** Intro ************************************/

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* body {
    display: none;
  } */
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* hero */
  #hero {
    margin-top: 10%;
  }
  .hero-intro {
    margin: 3%;
  }
  .hero-intro h1 {
    font-size: 6rem;
    margin-top: 0%;
    line-height: 1;
    margin-bottom: 2%;
  }
  .hero-intro h1 span {
    display: block;
  }
  .hero-intro p {
    font-size: 1.2rem;
    margin-top: 0%;
  }
}
